#fundoesquerdo {
  background-image: url('../png/fundo.jpg');
  object-fit: cover;
  object-position: left;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}